<!DOCTYPE html>
<html >
<head>
  <meta charset="UTF-8">
  <title>форма входа</title>
  
  
<link rel="stylesheet" href="/static/css/bootstrap-5.0.2-dist/css/bootstrap.css">
<link rel="stylesheet" href="/static/login.css">

  
</head>

<body>
  <body>
<form>
  <input checked="" id="signin" name="action" type="radio" value="signin">
  <label for="signin">вход</label>
  <input id="signup" name="action" type="radio" value="signup">
  <label for="signup">зарегистрироваться</label>
  <input id="reset" name="action" type="radio" value="reset">
  <label for="reset">сброс</label>
  <div id="wrapper">
    <div id="arrow"></div>
    <input id="email" placeholder="email" type="text">
    <input id="pass" placeholder="пароль" type="password">
    <input id="repass" placeholder="повторите пароль" type="password">
  </div>
  <button type="submit">
    <span>
      Сброс пароля
      <br>
      вход
      <br>
      зарегистрироваться
    </span>
  </button>
</form>
<div id="hint"></div>

<!-- <script type="text/javascript"> -->
    
</script>

</body>
  
  
</body>
</html>
